
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.confirm-booking-SUV {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.confirm-booking-SUV .navi-nYM {
  width: 100%;
  height: 21.6rem;
  position: relative;
  flex-shrink: 0;
}
.confirm-booking-SUV .navi-nYM .navi-Y1j {
  width: 144rem;
  height: 15.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #535353;
}
.confirm-booking-SUV .navi-nYM .image-1-gdj {
  width: 40.5rem;
  height: 13.6rem;
  position: absolute;
  left: 7.1rem;
  top: 0.9rem;
  object-fit: cover;
  vertical-align: top;
}
.confirm-booking-SUV .navi-nYM .rectangle-2-Cry {
  width: 144rem;
  height: 6.5rem;
  position: absolute;
  left: 0;
  top: 15.1rem;
  background-color: #eac646;
}
.confirm-booking-SUV .navi-nYM .group-1-Yvq {
  width: 52rem;
  height: 2.5rem;
  position: absolute;
  left: 86.3rem;
  top: 6.5rem;
  display: flex;
  column-gap: 2.9rem;
  align-items: center;
}
.confirm-booking-SUV .navi-nYM .group-1-Yvq .navigation-UZb {
  width: 6.1rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.confirm-booking-SUV .navi-nYM .group-1-Yvq .court-booking-PAm {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.confirm-booking-SUV .navi-nYM .group-1-Yvq .navigation-XGy {
  width: 10.9rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.confirm-booking-SUV .navi-nYM .group-1-Yvq .navigation-qoT {
  width: 10rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.confirm-booking-SUV .navi-nYM .booking-court-mSD {
  width: 22.7rem;
  height: 3.5rem;
  position: absolute;
  left: 60.7rem;
  top: 16.6rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.215;
  color: #000000;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
}
.confirm-booking-SUV .image-3-sVF {
  margin-right: 0.1rem;
  width: 123.1rem;
  height: 57.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.confirm-booking-SUV .auto-group-hdz5-cBw {
  margin-bottom: 17.4rem;
  width: 100%;
  height: 90rem;
  position: relative;
  flex-shrink: 0;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .rectangle-4-jGZ {
  width: 144rem;
  height: 12.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eac646;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .rectangle-5-HJ5 {
  width: 124.6rem;
  height: 83.5rem;
  position: absolute;
  left: 9.7rem;
  top: 6.5rem;
  box-shadow: 0.4rem 0.5rem 1.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .december-2023-nVj {
  width: 38.1rem;
  height: 6.7rem;
  position: absolute;
  left: 19.8rem;
  top: 12.3rem;
  font-size: 5.3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .item--sn5 {
  width: 2rem;
  height: 6.7rem;
  position: absolute;
  left: 14.8rem;
  top: 12.3rem;
  font-size: 5.3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .am-9-00am-zbo {
  width: 15.3rem;
  height: 2.8rem;
  position: absolute;
  left: 19.8rem;
  top: 18.9rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .image-4-JMb {
  width: 24.1rem;
  height: 48.9rem;
  position: absolute;
  left: 33.8rem;
  top: 26.8rem;
  object-fit: cover;
  vertical-align: top;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .court-1-dem {
  width: 6.3rem;
  height: 2.8rem;
  position: absolute;
  left: 42.7rem;
  top: 76.7rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .rectangle-21-wvM {
  width: 32rem;
  height: 6.3rem;
  cursor: pointer;
  position: absolute;
  left: 78.4rem;
  top: 42.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .book-now-GBw {
  width: 10.6rem;
  height: 2.8rem;
  position: absolute;
  left: 89.1rem;
  top: 44.6rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .rectangle-22-AYD {
  width: 32rem;
  height: 6.3rem;
  position: absolute;
  left: 78.4rem;
  top: 53.4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #535353;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .cancel-UYu {
  width: 7.4rem;
  height: 2.8rem;
  position: absolute;
  left: 90.7rem;
  top: 55.2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.confirm-booking-SUV .auto-group-hdz5-cBw .you-can-only-book-one-court-per-day-nJh {
  width: 32.8rem;
  height: 2.8rem;
  position: absolute;
  left: 78rem;
  top: 36.7rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.confirm-booking-SUV .footer-USR {
  box-sizing: border-box;
  padding: 2.7rem 5.8rem 5.1rem 11rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: -3rem 1.3rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #3a3c45;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .footer-P3b {
  margin: 0rem 5.1rem 3.6rem 0rem;
  width: 63.5rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--389 {
  margin: 0rem 7.7rem 5.2rem 0rem;
  max-width: 34.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1460000038;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Asap Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--389 .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--389-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.255;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--389 .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--389-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.255;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-9-vUm {
  margin-right: 11.8rem;
  width: 37.5rem;
  height: 100%;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-9-vUm .group-4-F1F {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-9-vUm .group-5-kyb {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-9-vUm .group-4-5ky {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-9-vUm .group-6-QHT {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-9-vUm .group-7-7hf {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d92020;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-9-vUm .group-8-SV3 {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e4e9d;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-2-ZZf {
  margin-bottom: 0.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-2-ZZf .image-2-7r5 {
  margin-bottom: 1.6rem;
  width: 35.6rem;
  height: 25.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.confirm-booking-SUV .footer-USR .auto-group-z1uw-hpy .group-2-ZZf .universiti-utara-malaysia-Evh {
  margin-left: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
