
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.manage-booking-3gR {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.manage-booking-3gR .navi-Bnd {
  width: 100%;
  height: 21.6rem;
  position: relative;
  flex-shrink: 0;
}
.manage-booking-3gR .navi-Bnd .navi-Ktq {
  width: 144rem;
  height: 15.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #535353;
}
.manage-booking-3gR .navi-Bnd .image-1-4rR {
  width: 40.5rem;
  height: 13.6rem;
  position: absolute;
  left: 7.1rem;
  top: 0.9rem;
  object-fit: cover;
  vertical-align: top;
}
.manage-booking-3gR .navi-Bnd .rectangle-2-CSq {
  width: 144rem;
  height: 6.5rem;
  position: absolute;
  left: 0;
  top: 15.1rem;
  background-color: #eac646;
}
.manage-booking-3gR .navi-Bnd .group-1-Xzu {
  width: 52rem;
  height: 2.5rem;
  position: absolute;
  left: 86.3rem;
  top: 6.5rem;
  display: flex;
  column-gap: 2.9rem;
  align-items: center;
}
.manage-booking-3gR .navi-Bnd .group-1-Xzu .navigation-TtZ {
  width: 6.1rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.manage-booking-3gR .navi-Bnd .group-1-Xzu .court-booking-Zgh {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.manage-booking-3gR .navi-Bnd .group-1-Xzu .navigation-JPP {
  width: 10.9rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.manage-booking-3gR .navi-Bnd .group-1-Xzu .navigation-pcd {
  width: 10rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.manage-booking-3gR .navi-Bnd .booking-court-YYd {
  width: 22.7rem;
  height: 3.5rem;
  position: absolute;
  left: 60.7rem;
  top: 16.6rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.215;
  color: #000000;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
}
.manage-booking-3gR .image-3-T9o {
  margin-right: 0.1rem;
  width: 123.1rem;
  height: 57.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.manage-booking-3gR .auto-group-kfuq-NXf {
  margin-bottom: 17.4rem;
  width: 100%;
  height: 90rem;
  position: relative;
  flex-shrink: 0;
}
.manage-booking-3gR .auto-group-kfuq-NXf .rectangle-4-u1o {
  width: 144rem;
  height: 12.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eac646;
}
.manage-booking-3gR .auto-group-kfuq-NXf .rectangle-5-dyP {
  width: 124.6rem;
  height: 83.5rem;
  position: absolute;
  left: 9.7rem;
  top: 6.5rem;
  box-shadow: 0.4rem 0.5rem 1.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.manage-booking-3gR .auto-group-kfuq-NXf .manage-booking-xEy {
  width: 35.2rem;
  height: 6.7rem;
  position: absolute;
  left: 19.8rem;
  top: 12.3rem;
  font-size: 5.3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.manage-booking-3gR .auto-group-kfuq-NXf .item--etV {
  width: 2rem;
  height: 6.7rem;
  position: absolute;
  left: 14.8rem;
  top: 12.3rem;
  font-size: 5.3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.manage-booking-3gR .auto-group-kfuq-NXf .rectangle-22-aGM {
  width: 32rem;
  height: 6.3rem;
  position: absolute;
  left: 56rem;
  top: 50.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #535353;
}
.manage-booking-3gR .auto-group-kfuq-NXf .cancel-VeD {
  width: 7.4rem;
  height: 2.8rem;
  position: absolute;
  left: 68.3rem;
  top: 52rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  z-index: 1;
}
.manage-booking-3gR .auto-group-kfuq-NXf .rectangle-23-1cZ {
  width: 32rem;
  height: 6.3rem;
  cursor: pointer;
  position: absolute;
  left: 56rem;
  top: 40.1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
}
.manage-booking-3gR .auto-group-kfuq-NXf .login-now-jHf {
  width: 11.1rem;
  height: 2.8rem;
  position: absolute;
  left: 66.5rem;
  top: 41.9rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.manage-booking-3gR .footer-ddw {
  box-sizing: border-box;
  padding: 2.7rem 5.8rem 5.1rem 11rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: -3rem 1.3rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #3a3c45;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .footer-NLd {
  margin: 0rem 5.1rem 3.6rem 0rem;
  width: 63.5rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--SrH {
  margin: 0rem 7.7rem 5.2rem 0rem;
  max-width: 34.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1460000038;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Asap Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--SrH .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--SrH-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.255;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--SrH .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--SrH-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.255;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-9-91w {
  margin-right: 11.8rem;
  width: 37.5rem;
  height: 100%;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-9-91w .group-4-THX {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-9-91w .group-5-N9b {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-9-91w .group-4-HnM {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-9-91w .group-6-DAD {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-9-91w .group-7-LEq {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d92020;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-9-91w .group-8-Fsb {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e4e9d;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-2-NhK {
  margin-bottom: 0.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-2-NhK .image-2-L8M {
  margin-bottom: 1.6rem;
  width: 35.6rem;
  height: 25.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.manage-booking-3gR .footer-ddw .auto-group-zt21-u5f .group-2-NhK .universiti-utara-malaysia-G21 {
  margin-left: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

a {
  text-decoration: none;
}