
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.time-selection-byX {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.time-selection-byX .navi-ioF {
  width: 100%;
  height: 21.6rem;
  position: relative;
  flex-shrink: 0;
}
.time-selection-byX .navi-ioF .navi-fTb {
  width: 144rem;
  height: 15.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #535353;
}
.time-selection-byX .navi-ioF .image-1-1GZ {
  width: 40.5rem;
  height: 13.6rem;
  position: absolute;
  left: 7.1rem;
  top: 0.9rem;
  object-fit: cover;
  vertical-align: top;
}
.time-selection-byX .navi-ioF .rectangle-2-L3w {
  width: 144rem;
  height: 6.5rem;
  position: absolute;
  left: 0;
  top: 15.1rem;
  background-color: #eac646;
}
.time-selection-byX .navi-ioF .group-1-TuF {
  width: 52rem;
  height: 2.5rem;
  position: absolute;
  left: 86.3rem;
  top: 6.5rem;
  display: flex;
  column-gap: 2.9rem;
  align-items: center;
}
.time-selection-byX .navi-ioF .group-1-TuF .navigation-ngd {
  width: 6.1rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.time-selection-byX .navi-ioF .group-1-TuF .court-booking-tDs {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.time-selection-byX .navi-ioF .group-1-TuF .navigation-DG9 {
  width: 10.9rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.time-selection-byX .navi-ioF .group-1-TuF .navigation-L5s {
  width: 10rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.time-selection-byX .navi-ioF .booking-court-Eh3 {
  width: 22.7rem;
  height: 3.5rem;
  position: absolute;
  left: 60.7rem;
  top: 16.6rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.215;
  color: #000000;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
}
.time-selection-byX .image-3-Xg9 {
  margin-right: 0.1rem;
  width: 123.1rem;
  height: 57.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 {
  margin-bottom: 17.4rem;
  width: 144.1rem;
  height: 90rem;
  position: relative;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .rectangle-4-yY9 {
  width: 144rem;
  height: 12.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eac646;
}
.time-selection-byX .auto-group-yalv-Fs3 .rectangle-5-XJm {
  width: 124.6rem;
  height: 83.5rem;
  position: absolute;
  left: 9.7rem;
  top: 6.5rem;
  box-shadow: 0.4rem 0.5rem 1.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.time-selection-byX .auto-group-yalv-Fs3 .december-2023-DhP {
  width: 38.1rem;
  height: 6.7rem;
  position: absolute;
  left: 19.8rem;
  top: 12.3rem;
  font-size: 5.3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV {
  width: 100.1rem;
  height: 44.4rem;
  position: absolute;
  left: 19.8rem;
  top: 29.9rem;
  display: flex;
  column-gap: 13.6rem;
  align-items: center;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-10-Qms {
  width: 24.3rem;
  height: 100%;
  cursor: pointer;
  row-gap: 8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-10-Qms .group-10-wWu {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-10-Qms .group-12-nnR {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-10-Qms .group-13-f5X {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-10-Qms .group-14-ukZ {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-7-nJZ {
  width: 24.3rem;
  height: 100%;
  row-gap: 8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-7-nJZ .group-15-iT7 {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-7-nJZ .group-10-QKw {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-7-nJZ .group-10-6Cm {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-7-nJZ .group-11-ACd {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-9-Sfw {
  width: 24.3rem;
  height: 100%;
  row-gap: 8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-9-Sfw .group-16-BNd {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-9-Sfw .group-17-smF {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-9-Sfw .group-10-Ni1 {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-18-WgV .frame-9-Sfw .group-10-GYV {
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eac646;
  flex-shrink: 0;
}
.time-selection-byX .auto-group-yalv-Fs3 .item--ANy {
  width: 2rem;
  height: 6.7rem;
  position: absolute;
  left: 14.8rem;
  top: 12.3rem;
  font-size: 5.3rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.time-selection-byX .auto-group-yalv-Fs3 .please-select-a-time-4z9 {
  width: 17.9rem;
  height: 2.8rem;
  position: absolute;
  left: 19.75rem;
  top: 18.9rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
}
.time-selection-byX .auto-group-yalv-Fs3 .frame-22-Njw {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 134.1rem;
  top: 17.9rem;
  overflow: hidden;
}
.time-selection-byX .footer-K9P {
  box-sizing: border-box;
  padding: 2.7rem 5.8rem 5.1rem 11rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: -3rem 1.3rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #3a3c45;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .footer-2Jh {
  margin: 0rem 5.1rem 3.6rem 0rem;
  width: 63.5rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--UwP {
  margin: 0rem 7.7rem 5.2rem 0rem;
  max-width: 34.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1460000038;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Asap Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--UwP .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--UwP-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.255;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--UwP .sports-centre-universiti-utara-malaysia-06010-sintok-kedah-darul-aman-malaysia-604-928-3560-3551-pusuruumedumy--UwP-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.255;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-9-XAu {
  margin-right: 11.8rem;
  width: 37.5rem;
  height: 100%;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-9-XAu .group-4-T4Z {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-9-XAu .group-5-ZtH {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-9-XAu .group-4-gT7 {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-9-XAu .group-6-oXj {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-9-XAu .group-7-vsF {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d92020;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-9-XAu .group-8-FPj {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.215;
  color: #eac646;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e4e9d;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-2-NDT {
  margin-bottom: 0.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-2-NDT .image-2-KuP {
  margin-bottom: 1.6rem;
  width: 35.6rem;
  height: 25.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.time-selection-byX .footer-K9P .auto-group-bwhb-jyo .group-2-NDT .universiti-utara-malaysia-Sz1 {
  margin-left: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.255;
  color: #ffffff;
  font-family: Arsenal, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

a {
  text-decoration: none;
}